{% extends "base.html" %}
{% block head %}
<title xmlns="http://www.w3.org/1999/html">Node List</title>
{% endblock %}

{% block content %}
    <p><a href="/list/">Clear</a></p>
    <form action="/list/" method="get">
        <select name="node_type">
            <option value="all">All</option>
            <option value="device">Devices</option>
            <option value="physical_node">Physical Nodes</option>
            <option value="driver">Drivers</option>

        </select>
        <input type="checkbox" name="haschildren" value="true">Only nodes with children<br>
        <select name="hasparent">
            <option value="all">All</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <input type="submit" value="Submit">
    </form>

    <h3>Nodes</h3>
    <p>Count: {{ node_rows.__len__() }}</p>
    <table>
    {% for row in node_rows %}
        <tr>
            {% for col in row %}
                <td><a href="/node/{{row[0]}}">{{col}}</a></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
